@model IEnumerable<DarkBattle.ViewModels.Merchants.MerchantListViewModel>

@{
    ViewData["Title"] = "Merchants";
}

<h1>Merchants</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-action="Create" asp-route-merchantId="@item.Id">Copy</a> |
                <a asp-action="Edit" asp-route-merchantId="@item.Id">Edit</a> |
                <a asp-action="Delete" asp-route-merchantId="@item.Id">Delete</a> |
                <a asp-controller="MerchantItems" asp-action="ListItems" asp-route-merchantId="@item.Id">Add items</a> |
                <a asp-controller="MerchantConsumables" asp-action="ListConsumables" asp-route-merchantId="@item.Id">Add consumables</a> |
                <a asp-controller="MerchantItems" asp-action="SellItems" asp-route-merchantId="@item.Id">Sell items</a> |

            </td>
        </tr>
}
    </tbody>
</table>
