@using DarkBattle.Services.ServiceModels

@model BattleViewModel


<partial name="_ChampionBar" model="@Model.Champion" />

@{
    ViewData["Title"] = $"Battle zone:{Model.AreaName}";
}

<style>
    body {
        background-image: url('@Model.AreaImg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
    }
</style>

<h1>Battle zone: @Model.AreaName</h1>
<hr />
<form method="get">
    <div class="row mb-3">
        <input name="championId" value="@Model.Champion.ChampionId" type="hidden" />
        <div class="col-4 badge badge-pill badge-light">
            <span >Expirience :</span>
            <input name="gold" />
        </div>
        <div class="col-3">
            <input type="submit" class="btn-light" value="Train" style="width:100%" />
        </div>
    </div>
</form>

@if (Model.BattleLog != null)
{
    <div class="row mb-3">
        <div class="col-4">
            <div class="card" style="width:300px;">
                <img class="card-img-top" src="@Model.ChampionImg" alt="@Model.Champion.Name" style="height:350px">
                <div class="card-body">
                    <h5 class="card-title">@Model.Champion.Name</h5>
                </div>
            </div>a
        </div>
        <div class="col-4 text-center">
            <h3 class="text-center">VS</h3>
            @foreach (var line in Model.BattleLog)
            {
                <div class="text-white bg-dark font-weight-bold">
                    @line
                </div>
            }
        </div>
        <div class="col-4">
            <div class="card" style="width:300px;">
                <img class="card-img-top" src="@Model.CreatureImg" alt="@Model.CreatureName" style="height:350px">
                <div class="card-body">
                    <h5 class="card-title">@Model.CreatureName</h5>
                </div>
            </div>
        </div>
    </div>
}

