@using DarkBattle.ViewModels.MerchantItems
@model MerchantItemPageModel


@{
    ViewData["Title"] = $"Sell Items {Model.MerchantName}";
}

<h1>Sell Items by @Model.MerchantName</h1>

<form method="get">
    <div class="row mb-2">
        <input asp-for="MerchantId" type="hidden">
        <div class="form-group col-md-4">
            <div class="form-group">
                <label asp-for="SelectItemLevel"></label>
                <select asp-for="SelectItemLevel" class="form-control">
                    <option value="" selected>All</option>
                    @foreach (var item in Model.ItemLevel)
                    {
                        <option value="@item">@item</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group col-md-4">
            <label asp-for="SelectItemType"></label>
            <select asp-for="SelectItemType" class="form-control">
                <option value="" selected>All</option>
                @foreach (var item in Model.ItemsType)
                {
                    <option value="@item">@item</option>
                }
            </select>
        </div>

        <div class="form-group col-md-4">
            <div class="form-group">
                <label asp-for="SelectObteinBy"></label>
                <select asp-for="SelectObteinBy" class="form-control">
                    <option value=""selected>All</option>
                    @foreach (var item in Model.ObtainBy)
                    {
                        <option value="@item">@item</option>
                    }
                </select>
            </div>
        </div>
    </div>
    <div class="row mb-2">
        <input type="submit" class="btn-primary" value="Search"  /> 
    </div>
</form>

<div class="row">
    @foreach (var item in Model.ItemCollection)
    {
        <div class="form-group col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="@item.ImageUrl" class="card-img-top" alt="@item.Name">
                <div class="card-body">
                    <h5 class="card-title">@item.Name</h5>
                    <p class="card-text">Level: @item.RequiredLevel</p>
                    <p class="card-text">Attack: @item.Attack </p>
                    <p class="card-text">Defense: @item.Defense </p>
                    <p class="card-text">Value: @item.Value </p>
                    <p class="card-text">Obtain by: @item.ObtainBy </p>
                    <a asp-action="Remove" asp-route-itemId="@item.Id" asp-route-merchantId="@Model.MerchantId" class="btn btn-primary">Remove</a>
                </div>
            </div>
        </div>
    }
</div>

<div>
    <a asp-controller="Merchants" asp-action="Index">Back to List</a>
</div>