@model IEnumerable<DarkBattle.ViewModels.Areas.AreasListViewModel>

@{
    ViewData["Title"] = "Areas";
}

<h1>Areas</h1>

<p>
    <a asp-action="AddAreas">Add new area</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <label>Name</label>
            </th>
            <th>
                <label>Description</label>
            </th>
            <th>
                <label>Min level for area</label>
            </th>
            <th>
                <label>Max level creature</label>
            </th>
            <th>
                <label>Creature count in area</label>
            </th>
            <th>
                <label>Area options</label>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr >
            <td>
                <label asp-for="@item.Name">@item.Name</label>
            </td>
            <td>
                <label asp-for="@item.Description">@item.Description</label>
            </td>
            <td>
                <label asp-for="@item.MinLevel">@item.MinLevel</label>
            </td>
            <td>
                <label asp-for="@item.MaxLevel">@item.MaxLevel</label>
            </td>
            <td>
                <label asp-for="@item.CreaturesCount">@item.CreaturesCount</label>
            </td>
            <td>
                <a asp-action="EditArea" asp-route-areaId="@item.Id">Edit</a> |
                <a asp-action="DeleteArea" asp-route-areaId="@item.Id">Delete</a> |
                <a asp-action="Test" asp-route-areaId="@item.Id">Add creatures</a>
            </td>
        </tr>
}
    </tbody>
</table>
