@using DarkBattle.ViewModels.Creatures
@model IEnumerable<CreatureListViewModel>

@{
    ViewData["Title"] = "Creatures";
}

<h1>Creatures</h1>

<p>
    <a asp-action="AddCreature">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Level)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Area)
            </th>
            <th>
                <label>Add creatures to area</label>
            </th>
            <th>
                <label>Copy creature</label>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Level)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Area)
            </td>
            <td>
                <button type="button" class="btn btn-link justify-content-md-center" asp-controller="Admin" asp-action="Areas">Select Area</button>
            </td>
            <td>
                <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="AddCreature" asp-route-creatureId="@item.Id">Copy</a>
            </td>
        </tr>
}
    </tbody>
</table>
