@using DarkBattle.ViewModels.MerchantConsumables
@model MerchantConsumablesAddViewModel

@{
    ViewData["Title"] = Model.MerchantName;
}

<h1>@Model.MerchantName</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                <label>Name</label>
            </th>
            <th>
                <label>Restore healt</label>

            </th>
            <th>
                <label>Value</label>
            </th>
            <th>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Consumables)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RestoreHealth)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Value)
                </td>
                <td>
                    <img src="@item.ImageUrl" width="50px"height="50px" alt="@item.Name">
                </td>
                <td>
                    <a asp-action="Add" asp-route-consumableId="@item.Id" asp-route-merchantId="@Model.MerchantId" class="btn btn-primary">Add</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@if (Model.Consumables.Count == 0)
{
    <a asp-controller="Consumables" asp-action="Create" class="btn btn-primary">Add new consumables in game</a>

}